<%- include('../../pages/partials/head') %>


<div class="contenedor-carrito">
<h2>Carrito</h2>
<div class="carrito" >
<div class="carrito-carrito">
  <% carrito.forEach((libro) => { %>
    <div class="carrito-libro">
    <div class="carrito-titulo">
      <img class="imagen-carrito" src="<%= libro.imagen %>" alt="Imagen del libro" width="100">
      <h3 class="carrito-titulo-libro" ><%= libro.titulo %></h3>
   
      <p class="carrito-parrafo-stock">Stock: $<%= libro.stock %></p>
        <p class="carrito-parrafo-precio">Precio: $<%= libro.precio %></p>
       
        
      <form class="carrito-form-1" action="/comprar/carrito" method="post">
        <input type="hidden" name="libroId" value="<%= libro.id %>">
        <input type="hidden" name="titulo" value="<%= libro.titulo %>">
        <input type="hidden" name="precio" value="<%= libro.precio %>">
        <select class="carrito-select" id="stock" name="stock">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <button class="btn-carrito-1" type="submit">comprar</button>
        
      </form>
      <form class="carrito-form-2" action="/carrito/eliminar/<%=libro.id%>?_method=DELETE" method="POST">
        <input type="hidden"name="_method " value="DELETE">
        <button class="btn-carrito-2" type="submit" >Eliminar</button>
    </form>
      </div>
    </div>
    <% }) %> 
    
  </div> 
  


 

<h2>Total: $<%= total %></h2>
</div>
<div class="carrito-ancla">
  <a class="ancla" href="/">volver a inicio</a>
</div>


</div>
<%- include('../../pages/partials/footer') %>     